.left-sidebar {
    -fx-background-color: #5987ea;
    -fx-background-radius: 0 20 20 0;
}

.left-sidebar .mfx-list-view .mfx-list-cell .mfx-font-icon {
    -mfx-color: white;
}

.left-sidebar .mfx-list-view .virtual-flow {
    -fx-background-color: transparent;
}

.left-sidebar .mfx-list-view .virtual-flow .mfx-list-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13;
}

.left-sidebar .mfx-list-view .virtual-flow .mfx-list-cell:hover {
    -fx-background-color: #2966e1;
    -fx-border-color: #c0bdbd;
}

.left-sidebar .mfx-list-cell:selected .data-label {
    -fx-text-fill: #2966e1;
}

.left-sidebar .mfx-list-view .mfx-list-cell:selected .mfx-font-icon {
    -mfx-color: #2966e1;
}

.left-sidebar .mfx-list-view .virtual-flow .mfx-list-cell:selected {
    -fx-background-color: white;
    -fx-border-color: #c0bdbd;
    -fx-text-fill: #2966e1;
}

.left-sidebar .mfx-text-field {
    -mfx-main: #2966e1;
    -fx-background-color: #ffffff;
    -fx-border-color: #c0bdbd;
    -fx-text-fill: black;
}

.left-sidebar .mfx-text-field .floating-text {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.left-sidebar .mfx-text-field:focus-within {
    -fx-background-insets: 2;
    -fx-border-color: #2966e1;
    -fx-border-width: 1.5;
    -fx-border-insets: -0.5;
}

