.popover > .border {
    -fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0, 0, 0, .7));
    -fx-stroke-width: 0.5;
    -fx-fill: rgba(30 , 30, 30, .95);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, 0.5, 2.0, 2.0);
}

/* https://stackoverflow.com/questions/47273123/change-color-of-controls-fx-popover-title */
.popover > .content > .title > .text  {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

/* https://stackoverflow.com/questions/36839536/controlsfx-popover-style-and-focus */
.label {
    -fx-text-fill: white;
}
