.right-sidebar {
    -fx-background-color: #3f3f3f;
}

.right-sidebar .mfx-scroll-pane {
    -fx-background-color: #3f3f3f;
}

.right-sidebar .mfx-combo-box {
    -fx-background-color: #3f3f3f;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.right-sidebar .mfx-combo-box .floating-text {
    -fx-text-fill: white;
}

.right-sidebar .mfx-combo-box .caret .mfx-font-icon {
    -mfx-color: white;
}

.right-sidebar .mfx-combo-box-cell:hover {
    -fx-background-color: rgba(169, 169, 169, 0.32);
}

.mfx-combo-box-cell:selected {
    -fx-background-color: rgba(29, 29, 29, 0.46);
}

.right-sidebar .mfx-combo-box .combo-popup .virtual-flow {
    -fx-background-color: #3f3f3f;
    -fx-border-color: #313030;
}

.right-sidebar .mfx-spinner {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.right-sidebar .mfx-spinner .mfx-text-field {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.right-sidebar .mfx-spinner .mfx-icon-wrapper {
    -fx-background-color: derive(#2967e3, 100%);
    -mfx-size: 27;
}

.right-sidebar .mfx-spinner .mfx-icon-wrapper:hover {
    -fx-background-color: derive(#2967e3, 50%);
}

.right-sidebar .mfx-spinner .mfx-icon-wrapper .mfx-font-icon {
    -mfx-color: #2967e3;
}

.tags-field > .flow-pane > .tag-view {
    -fx-background: -fx-accent;
    -fx-background-color: #2967e3;
    -fx-text-fill: -fx-text-background-color;
    -fx-cursor: default;
    -fx-background-radius: 0.166667em;
    -fx-padding: 0.166667em 0.666667em;
}

.tags-field > .flow-pane {
    -fx-background-color: #3f3f3f;
    -fx-border-color: #313030;
}

.tags-field > .flow-pane > .text-field {
    -fx-text-fill: white;
}

.tags-field .graphic-wrapper .ikonli-font-icon {
    -fx-icon-color: white;
}

.expanding-text-area {
    -fx-background-color: #3f3f3f;
    -fx-border-color: #313030;
    -fx-border-radius: 3;
    -fx-text-fill: white;
}

.content {
    -fx-background-color: #3f3f3f;
}

.right-sidebar .mfx-text-field .text-field {
    -fx-prompt-text-fill: darkgray;
}

.right-sidebar .mfx-date-picker .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected,
.right-sidebar .mfx-date-picker .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected {
    -fx-background-color: #2967e3;
}


.right-sidebar .mfx-date-cell:current {
    -fx-text-fill: #2967e3;
    -fx-background-color: #F7F6F9;
}

.right-sidebar .mfx-date-cell:selected {
    -fx-background-color: #2967e3;
}
